@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: url("./assets/powder-explosion.png") no-repeat center center/cover;
}

header {
  width: 100%;
  height: 6vh;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  background: black;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3.6rem;
  color: #fff;
}

.container {
  height: 90vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.drop {
  background-color: #ff0;
  height: 5rem;
  width: 5rem;
  border-radius: 5%;
  border: 3px solid rgba(0, 0, 0, 0.6);
  position: absolute;
  animation: animate 5s linear;
  transition: all 0.5s ease-in-out;
}

@keyframes animate {
  0% {
    opacity: 1;
    transform: scale(2);
  }

  25% {
    border-radius: 25%;
  }

  50% {
    opacity: 0.5;
    transform: scale(3);
    border-radius: 35%;
    background-color: #ff1e1e;
  }

  100% {
    opacity: 1;
    transform: scale(4);
    border-radius: 50%;
    background-color: #d800a6;
  }
}

footer {
  width: 100%;
  height: 4vh;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.5);
}

footer a,
footer a:active {
  font-family: "Great Vibes", cursive;
  font-size: 1.9rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
